# Utilization of Machine Learning for Smart Food Spoilage Detection System leveraging AMTH-IoT Data

In [90]:
#Importing libraries

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler

In [97]:
dataset=pd.read_csv("dataset.csv")

In [98]:
dataset

,Unnamed: 0,Temperature,Humidity,GasLevels,TimeOfDay,FoodType,StorageDuration,Spoiled
0,0,33.820262,76.006052,90.553076,Evening,Vegetable,27,Spoiled
1,1,27.000786,69.867497,92.026243,Evening,Meat,22,NotSpoiled
2,2,29.893690,71.743730,115.645612,Afternoon,Meat,17,NotSpoiled
3,3,36.204466,48.063166,58.319999,Afternoon,Fruit,14,Spoiled
4,4,34.337790,68.228626,76.295637,Evening,Vegetable,20,Spoiled
...,...,...,...,...,...,...,...,...
2595,2595,23.746217,76.538632,103.262642,Evening,Meat,6,NotSpoiled
2596,2596,24.529688,69.439315,95.002731,Afternoon,Meat,8,NotSpoiled
2597,2597,26.987826,91.729959,69.982941,Afternoon,Fruit,2,NotSpoiled
2598,2598,19.885725,69.312692,41.453326,Morning,Vegetable,27,NotSpoiled
2599,2599,19.246540,67.686807,113.214798,Evening,Fruit,2,NotSpoiled

In [99]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2600 entries, 0 to 2599
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       2600 non-null   int64
 1   Temperature      2600 non-null   float64
 2   Humidity         2600 non-null   float64
 3   GasLevels        2600 non-null   float64
 4   TimeOfDay        2600 non-null   object
 5   FoodType         2600 non-null   object
 6   StorageDuration  2600 non-null   int64
 7   Spoiled          2600 non-null   object
dtypes: float64(3), int64(2), object(3)
memory usage: 162.6+ KB

In [100]:
dataset.describe()

        Unnamed: 0  Temperature     Humidity    GasLevels  StorageDuration
count  2600.000000  2600.000000  2600.000000  2600.000000      2600.000000
mean   1299.500000    24.895453    69.851593   100.021874        14.965000
std     750.699674     4.878247    10.000615    19.811871         8.249659
min       0.000000     9.415717    32.598994    37.475970         1.000000
25%     649.750000    21.554257    62.942262    86.867878         8.000000
50%    1299.500000    24.895002    69.722266    99.761860        15.000000
75%    1949.250000    28.119349    76.696423   112.873230        22.000000
max    2599.000000    40.854874   108.016602   165.853886        29.000000

In [101]:
dataset=dataset.drop('Unnamed: 0',axis=1)

In [102]:
dataset

,Temperature,Humidity,GasLevels,TimeOfDay,FoodType,StorageDuration,Spoiled
0,33.820262,76.006052,90.553076,Evening,Vegetable,27,Spoiled
1,27.000786,69.867497,92.026243,Evening,Meat,22,NotSpoiled
2,29.893690,71.743730,115.645612,Afternoon,Meat,17,NotSpoiled
3,36.204466,48.063166,58.319999,Afternoon,Fruit,14,Spoiled
4,34.337790,68.228626,76.295637,Evening,Vegetable,20,Spoiled
...,...,...,...,...,...,...,...
2595,23.746217,76.538632,103.262642,Evening,Meat,6,NotSpoiled
2596,24.529688,69.439315,95.002731,Afternoon,Meat,8,NotSpoiled
2597,26.987826,91.729959,69.982941,Afternoon,Fruit,2,NotSpoiled
2598,19.885725,69.312692,41.453326,Morning,Vegetable,27,NotSpoiled
2599,19.246540,67.686807,113.214798,Evening,Fruit,2,NotSpoiled

In [103]:
from sklearn.preprocessing import LabelEncoder
# Create an instance of LabelEncoder
label_encoder = LabelEncoder()

# Define the columns to be encoded
columns_to_encode = ['TimeOfDay', 'FoodType', 'Spoiled']

# Apply label encoding to each column
for column in columns_to_encode:
    dataset[column] = label_encoder.fit_transform(dataset[column])

# Display the encoded DataFrame
dataset

,Temperature,Humidity,GasLevels,TimeOfDay,FoodType,StorageDuration,Spoiled
0,33.820262,76.006052,90.553076,1,2,27,1
1,27.000786,69.867497,92.026243,1,1,22,0
2,29.893690,71.743730,115.645612,0,1,17,0
3,36.204466,48.063166,58.319999,0,0,14,1
4,34.337790,68.228626,76.295637,1,2,20,1
...,...,...,...,...,...,...,...
2595,23.746217,76.538632,103.262642,1,1,6,0
2596,24.529688,69.439315,95.002731,0,1,8,0
2597,26.987826,91.729959,69.982941,0,0,2,0
2598,19.885725,69.312692,41.453326,2,2,27,0
2599,19.246540,67.686807,113.214798,1,0,2,0

In [1]:
#defining x and y

In [114]:
X=dataset.drop("Spoiled",axis=1)
y=dataset['Spoiled']

In [115]:
#Datasplitting

In [116]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20)

In [117]:
# Standardize the feature values (optional but recommended for SVMs)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [118]:
#Model building

In [125]:
# Initialize the SVM classifier
svm_classifier = SVC(random_state=0)

# Train the classifier
svm_classifier.fit(X_train, y_train)
y_pred = svm_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print('Classification Report:')
print(report)

Accuracy: 0.9769230769230769
Classification Report:
              precision    recall  f1-score   support

           0       0.98      1.00      0.99       456
           1       0.98      0.83      0.90        64

    accuracy                           0.98       520
   macro avg       0.98      0.91      0.94       520
weighted avg       0.98      0.98      0.98       520

In [126]:
#Building MLP CLASSIFIER

In [127]:
# Initialize the MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(128,64), max_iter=1000, random_state=0)
# Train the classifier
mlp.fit(X_train, y_train)

MLPClassifier(hidden_layer_sizes=(128, 64), max_iter=1000, random_state=0)

In [128]:

y_pred = mlp.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print('Classification Report:')
print(report)

Accuracy: 0.9961538461538462
Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       456
           1       1.00      0.97      0.98        64

    accuracy                           1.00       520
   macro avg       1.00      0.98      0.99       520
weighted avg       1.00      1.00      1.00       520

In [129]:
import joblib

# Assuming 'mlp' is your trained MLP classifier
# Save the model to a file
joblib.dump(mlp, 'mlp_classifier_model.joblib')

['mlp_classifier_model.joblib']

In [130]:
# Load the model from the file
loaded_model = joblib.load('mlp_classifier_model.joblib')